// reduce title font size
.site-title {
    font-size: 20px !important;
    padding-left: 1rem;
    padding-right: 1rem;
  }

// 
// Header margins
// 

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 1.0em;
}