name: Build and deploy Jekyll site to GitHub Pages #taken from here https://jekyllrb.com/docs/continuous-integration/github-actions/

on:
  push:
    branches:
      - demo # Change this to the name of your primary branch (usually "main")

jobs:
  github-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - uses: helaili/jekyll-action@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target_branch: 'gh-pages' # had to add this line or it wouldn't work
